# Python
__pycache__/
*.pyc
*.pyo

# Environnements
venv/
.env/

# Logs
*.log

# Fichiers temporaires
*~
*.tmp
*.log

# Suivi des performances
last_performance.json

# Projet utilisateur local
fusion.json

# Sauvegardes locales
fusion.json.bak*
backups/*

# Fichiers de configuration
.markdownlint.json

# Archives de release
releases/*.tar.xz

# Archives de MIDI
Community/*
FUSION_HD/*
