# Python
__pycache__/
*.pyc
*.pyo

# Environnements
venv/
.env/

# Logs
*.log

# Fichiers temporaires
*~
*.tmp
*.log

# Sauvegardes locales
fusion.json.bak*

# Archives de release
releases/*.tar.gz

# Archives de MIDI
Community/*
FUSION_HD/*
